*,:before,:after {
    box-sizing: border-box
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: #0000;
    font-family: sans-serif;
    line-height: 1.15
}

article,aside,figcaption,figure,footer,header,hgroup,main,nav,section {
    display: block
}

body {
    color: #111;
    text-align: left;
    background-color: #fff;
    margin: 0;
    font-family: DINish, Bahnschrift, MiSans, 思源黑体, 'Source Han Sans', 'Noto Sans CJK', 微软雅黑, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0!important
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

abbr[title],abbr[data-original-title] {
    cursor: help;
    text-decoration-skip-ink: none;
    border-bottom: 0;
    text-decoration: underline dotted
}

address {
    font-style: normal;
    line-height: inherit;
    margin-bottom: 1rem
}

ol,ul,dl {
    margin-top: 0;
    margin-bottom: 1rem
}

ol ol,ul ul,ol ul,ul ol {
    margin-bottom: 0
}

dt {
    font-weight: 700
}

dd {
    margin-bottom: .5rem;
    margin-left: 0
}

blockquote {
    margin: 0 0 1rem
}

b,strong {
    font-weight: bolder
}

small {
    font-size: 80%
}

sub,sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

a {
    color: #007bff;
    background-color: #0000;
    text-decoration: none
}

a:hover {
    color: #0056b3;
    text-decoration: underline
}

a:not([href]):not([class]),a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none
}

pre,code,kbd,samp {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-size: 1em
}

pre {
    -ms-overflow-style: scrollbar;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto
}

figure {
    margin: 0 0 1rem
}

img {
    vertical-align: middle;
    border-style: none
}

svg {
    vertical-align: middle;
    overflow: hidden
}

table {
    border-collapse: collapse
}

caption {
    color: #6c757d;
    text-align: left;
    caption-side: bottom;
    padding-top: .75rem;
    padding-bottom: .75rem
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent
}

label {
    margin-bottom: .5rem;
    display: inline-block
}

button {
    border-radius: 0
}

button:focus:not(:focus-visible) {
    outline: 0
}

input,button,select,optgroup,textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

[role=button] {
    cursor: pointer
}

select {
    word-wrap: normal
}

button,[type=button],[type=reset],[type=submit] {
    -webkit-appearance: button;
    appearance: button
}

button:not(:disabled),[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled) {
    cursor: pointer
}

button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

input[type=radio],input[type=checkbox] {
    box-sizing: border-box;
    padding: 0
}

textarea {
    resize: vertical;
    overflow: auto
}

fieldset {
    min-width: 0;
    border: 0;
    margin: 0;
    padding: 0
}

legend {
    width: 100%;
    max-width: 100%;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    margin-bottom: .5rem;
    padding: 0;
    display: block
}

progress {
    vertical-align: baseline
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    outline-offset: -2px;
    -webkit-appearance: none;
    appearance: none
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

output {
    display: inline-block
}

summary {
    cursor: pointer;
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none!important
}

body {
    color: #333f50;
    background: #bfd3ca;
    transition: background-color .1s ease-in-out
}

@media (prefers-color-scheme: dark) {
    html:not(.light-theme) body {
        color:#c0ccaf;
        background: #2c4035
    }
}

html.dark-theme body {
    color: #c0ccaf;
    background: #2c4035
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 900px!important
}

section {
    margin-top: 5rem;
    margin-bottom: 5rem
}

@media (max-width: 767.98px) {
    section {
        font-size:.9em
    }
}

section .heading {
    text-align: center;
    margin-bottom: 1.5em
}

section .heading small {
    color: #0072bf;
    text-transform: uppercase;
    text-shadow: 0 0 10px #0072bf99;
    font-size: 1em;
    font-weight: 700
}

section .heading h2 {
    font-size: 2.3em;
    font-weight: 900;
    line-height: 1.2em
}

section .columns {
    flex-flow: wrap;
    margin: -.5rem;
    display: flex
}

section .columns .card-wrapper {
    width: 33.3333%;
    max-width: 33.3333%;
    flex: auto;
    display: block
}

@media (max-width: 767.98px) {
    section .columns .card-wrapper {
        width:50%;
        max-width: 50%
    }
}

@media (max-width: 575.98px) {
    section .columns .card-wrapper {
        width:100%;
        min-width: 100%
    }
}

section .columns .card-wrapper .card {
    border-radius: 8px;
    margin: .5rem
}

.icon-email {
    background-image: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%3E%20%3Cpath%20d%3D%22M16%2012C16%2014.2091%2014.2091%2016%2012%2016C9.79086%2016%208%2014.2091%208%2012C8%209.79086%209.79086%208%2012%208C14.2091%208%2016%209.79086%2016%2012ZM16%2012V13.5C16%2014.8807%2017.1193%2016%2018.5%2016V16C19.8807%2016%2021%2014.8807%2021%2013.5V12C21%207.02944%2016.9706%203%2012%203C7.02944%203%203%207.02944%203%2012C3%2016.9706%207.02944%2021%2012%2021H16%22%20stroke%3D%22%23fff%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3C/path%3E%20%3C/g%3E%3C/svg%3E)
}

.icon-email:hover {
    background-color: #FF6A00!important
}

.icon-youtube {
    background-image: url(data:image/svg+xml,%3Csvg%20fill%3D%22%23ffffff%22%20viewBox%3D%220%200%2032%2032%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%3E%3Cpath%20d%3D%22M24.325%208.309s-2.655-.334-8.357-.334c-5.517%200-8.294.334-8.294.334A2.675%202.675%200%200%200%205%2010.984v10.034a2.675%202.675%200%200%200%202.674%202.676s2.582.332%208.294.332c5.709%200%208.357-.332%208.357-.332A2.673%202.673%200%200%200%2027%2021.018V10.982a2.673%202.673%200%200%200-2.675-2.673zM13.061%2019.975V12.03L20.195%2016l-7.134%203.975z%22%3E%3C/path%3E%3C/g%3E%3C/svg%3E)
}

.icon-youtube:hover {
    background-color: #f03!important
}

.icon-github {
    background-image: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%3E%3Cpath%20d%3D%22M4.0744%202.9938C4.13263%201.96371%204.37869%201.51577%205.08432%201.15606C5.84357%200.768899%207.04106%200.949072%208.45014%201.66261C9.05706%201.97009%209.11886%201.97635%2010.1825%201.83998C11.5963%201.65865%2013.4164%201.65929%2014.7213%201.84164C15.7081%201.97954%2015.7729%201.97265%2016.3813%201.66453C18.3814%200.651679%2019.9605%200.71795%2020.5323%201.8387C20.8177%202.39812%2020.8707%203.84971%2020.6494%205.04695C20.5267%205.71069%2020.5397%205.79356%2020.8353%206.22912C22.915%209.29385%2021.4165%2014.2616%2017.8528%2016.1155C17.5801%2016.2574%2017.3503%2016.3452%2017.163%2016.4167C16.5879%2016.6363%2016.4133%2016.703%2016.6247%2017.7138C16.7265%2018.2%2016.8491%2019.4088%2016.8973%2020.4002C16.9844%2022.1922%2016.9831%2022.2047%2016.6688%2022.5703C16.241%2023.0676%2015.6244%2023.076%2015.2066%2022.5902C14.9341%2022.2734%2014.9075%2022.1238%2014.9075%2020.9015C14.9075%2019.0952%2014.7095%2017.8946%2014.2417%2016.8658C13.6854%2015.6415%2014.0978%2015.185%2015.37%2014.9114C17.1383%2014.531%2018.5194%2013.4397%2019.2892%2011.8146C20.0211%2010.2698%2020.1314%208.13501%2018.8082%206.83668C18.4319%206.3895%2018.4057%205.98446%2018.6744%204.76309C18.7748%204.3066%2018.859%203.71768%2018.8615%203.45425C18.8653%203.03823%2018.8274%202.97541%2018.5719%202.97541C18.4102%202.97541%2017.7924%203.21062%2017.1992%203.49805L16.2524%203.95695C16.1663%203.99866%2016.07%204.0147%2015.975%204.0038C13.5675%203.72746%2011.2799%203.72319%208.86062%204.00488C8.76526%204.01598%208.66853%203.99994%208.58215%203.95802L7.63585%203.49882C7.04259%203.21087%206.42482%202.97541%206.26317%202.97541C5.88941%202.97541%205.88379%203.25135%206.22447%204.89078C6.43258%205.89203%206.57262%206.11513%205.97101%206.91572C5.06925%208.11576%204.844%209.60592%205.32757%2011.1716C5.93704%2013.1446%207.4295%2014.4775%209.52773%2014.9222C10.7926%2015.1903%2011.1232%2015.5401%2010.6402%2016.9905C10.26%2018.1319%2010.0196%2018.4261%209.46707%2018.4261C8.72365%2018.4261%208.25796%2017.7821%208.51424%2017.1082C8.62712%2016.8112%208.59354%2016.7795%207.89711%2016.5255C5.77117%2015.7504%204.14514%2014.0131%203.40172%2011.7223C2.82711%209.95184%203.07994%207.64739%204.00175%206.25453C4.31561%205.78028%204.32047%205.74006%204.174%204.83217C4.09113%204.31822%204.04631%203.49103%204.0744%202.9938Z%22%20fill%3D%22%23fff%22%3E%3C/path%3E%20%3Cpath%20d%3D%22M3.33203%2015.9454C3.02568%2015.4859%202.40481%2015.3617%201.94528%2015.6681C1.48576%2015.9744%201.36158%2016.5953%201.66793%2017.0548C1.8941%2017.3941%202.16467%2017.6728%202.39444%2017.9025C2.4368%2017.9449%202.47796%2017.9858%202.51815%2018.0257C2.71062%2018.2169%202.88056%2018.3857%203.05124%2018.5861C3.42875%2019.0292%203.80536%2019.626%204.0194%2020.6962C4.11474%2021.1729%204.45739%2021.4297%204.64725%2021.5419C4.85315%2021.6635%205.07812%2021.7352%205.26325%2021.7819C5.64196%2021.8774%206.10169%2021.927%206.53799%2021.9559C7.01695%2021.9877%207.53592%2021.998%207.99999%2022.0008C8.00033%2022.5527%208.44791%2023.0001%208.99998%2023.0001C9.55227%2023.0001%209.99998%2022.5524%209.99998%2022.0001V21.0001C9.99998%2020.4478%209.55227%2020.0001%208.99998%2020.0001C8.90571%2020.0001%208.80372%2020.0004%208.69569%2020.0008C8.10883%2020.0026%207.34388%2020.0049%206.67018%2019.9603C6.34531%2019.9388%206.07825%2019.9083%205.88241%2019.871C5.58083%2018.6871%205.09362%2017.8994%204.57373%2017.2891C4.34391%2017.0194%204.10593%2016.7834%203.91236%2016.5914C3.87612%2016.5555%203.84144%2016.5211%203.80865%2016.4883C3.5853%2016.265%203.4392%2016.1062%203.33203%2015.9454Z%22%20fill%3D%22%23fff%22%3E%3C/path%3E%3C/g%3E%3C/svg%3E)
}

.icon-github:hover {
    background-color: #6F42C1!important
}

.icon-bili {
    background-image: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M18.223%203.086a1.25%201.25%200%200%201%200%201.768L17.08%205.996h1.17A3.75%203.75%200%200%201%2022%209.747v7.5a3.75%203.75%200%200%201-3.75%203.75H5.75A3.75%203.75%200%200%201%202%2017.247v-7.5a3.75%203.75%200%200%201%203.75-3.75h1.166L5.775%204.855a1.25%201.25%200%201%201%201.767-1.768l2.652%202.652c.079.079.145.165.198.257h3.213c.053-.092.12-.18.199-.258l2.651-2.652a1.25%201.25%200%200%201%201.768%200zm.027%205.42H5.75a1.25%201.25%200%200%200-1.247%201.157l-.003.094v7.5c0%20.659.51%201.199%201.157%201.246l.093.004h12.5a1.25%201.25%200%200%200%201.247-1.157l.003-.093v-7.5c0-.69-.56-1.25-1.25-1.25zm-10%202.5c.69%200%201.25.56%201.25%201.25v1.25a1.25%201.25%200%201%201-2.5%200v-1.25c0-.69.56-1.25%201.25-1.25zm7.5%200c.69%200%201.25.56%201.25%201.25v1.25a1.25%201.25%200%201%201-2.5%200v-1.25c0-.69.56-1.25%201.25-1.25z%22%3E%3C/path%3E%20%3C/g%3E%3C/svg%3E)
}

.icon-bili:hover {
    background-color: #fb7299!important
}

.icon-zhihu {
    background-image: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%23ffffff%22%3E%3Cg%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%3E%3C/path%3E%20%3Cpath%20fill-rule%3D%22nonzero%22%20d%3D%22M13.373%2018.897h1.452l.478%201.637%202.605-1.637h3.07V5.395h-7.605v13.502zM14.918%206.86h4.515v10.57h-1.732l-1.73%201.087-.314-1.084-.739-.003V6.861zm-2.83%204.712H8.846a70.3%2070.3%200%200%200%20.136-4.56h3.172s.122-1.4-.532-1.384H6.135c.216-.814.488-1.655.813-2.524%200%200-1.493%200-2%201.339-.211.552-.82%202.677-1.904%204.848.365-.04%201.573-.073%202.284-1.378.131-.366.156-.413.318-.902h1.79c0%20.651-.074%204.151-.104%204.558h-3.24c-.729%200-.965%201.466-.965%201.466h4.066C6.92%2016.131%205.456%2018.74%202.8%2020.8c1.27.363%202.536-.057%203.162-.614%200%200%201.425-1.297%202.206-4.298l3.346%204.03s.49-1.668-.077-2.481c-.47-.554-1.74-2.052-2.281-2.595l-.907.72c.27-.867.433-1.71.488-2.524h3.822s-.005-1.466-.47-1.466z%22%3E%3C/path%3E%3C/g%3E%3C/svg%3E)
}

.icon-zhihu:hover {
    background-color: #1772F6!important
}

.icon-dev {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M149.5%20204.8c0-27-17.2-68-68.1-68H13.2v238H80c52.8%200%2069.5-41%2069.5-67.9V205zm-40.6%20101.8c0%208.4-2.8%2014.7-8.4%2018.8a27.8%2027.8%200%200%201-16.8%206.3h-25V181.4h25a27.8%2027.8%200%200%201%2016.8%206c5.6%204.3%208.4%2010.6%208.4%2019v100.2zm185.4-127.2h-76.6v55.2h46.9V277h-46.9v55.4h76.6v42.5H205a29.1%2029.1%200%200%201-30-28.3v-180a29.1%2029.1%200%200%201%2028.5-29.7h90.8v42.5zm149%20165.7c-19%2044.3-53%2035.5-68.2%200L319.8%20137h46.8l42.8%20163.6L452%20136.9h46.9L443.2%20345h.2z%22%2F%3E%3C%2Fsvg%3E)
}

.icon-dev:hover {
    background-color: #3b49df!important
}

.icon-xiaohongshu {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M22.405%209.879c.002.016.01.02.07.019h.725a.797.797%200%200%200%20.78-.972a.794.794%200%200%200-.884-.618a.795.795%200%200%200-.692.794c0%20.101-.002.666.001.777m-11.509%204.808c-.203.001-1.353.004-1.685.003a2.5%202.5%200%200%201-.766-.126a.025.025%200%200%200-.03.014L7.7%2016.127a.025.025%200%200%200%20.01.032c.111.06.336.124.495.124c.66.01%201.32.002%201.981%200q.017%200%20.023-.015l.712-1.545a.025.025%200%200%200-.024-.036zM.477%209.91c-.071%200-.076.002-.076.01l-.01.08c-.027.397-.038.495-.234%203.06c-.012.24-.034.389-.135.607c-.026.057-.033.042.003.112c.046.092.681%201.523.787%201.74c.008.015.011.02.017.02c.008%200%20.033-.026.047-.044q.219-.282.371-.606c.306-.635.44-1.325.486-1.706c.014-.11.021-.22.03-.33l.204-2.616l.022-.293c.003-.029%200-.033-.03-.034zm7.203%203.757a1.4%201.4%200%200%201-.135-.607c-.004-.084-.031-.39-.235-3.06a.4.4%200%200%200-.01-.082c-.004-.011-.052-.008-.076-.008h-1.48c-.03.001-.034.005-.03.034l.021.293q.114%201.473.233%202.946c.05.4.186%201.085.487%201.706c.103.215.223.419.37.606c.015.018.037.051.048.049c.02-.003.742-1.642.804-1.765c.036-.07.03-.055.003-.112m3.861-.913h-.872a.126.126%200%200%201-.116-.178l1.178-2.625a.025.025%200%200%200-.023-.035l-1.318-.003a.148.148%200%200%201-.135-.21l.876-1.954a.025.025%200%200%200-.023-.035h-1.56q-.017%200-.024.015l-.926%202.068c-.085.169-.314.634-.399.938a.5.5%200%200%200-.02.191a.46.46%200%200%200%20.23.378a1%201%200%200%200%20.46.119h.59c.041%200-.688%201.482-.834%201.972a.5.5%200%200%200-.023.172a.47.47%200%200%200%20.23.398c.15.092.342.12.475.12l1.66-.001q.017%200%20.023-.015l.575-1.28a.025.025%200%200%200-.024-.035m-6.93-4.937H3.1a.032.032%200%200%200-.034.033c0%201.048-.01%202.795-.01%206.829c0%20.288-.269.262-.28.262h-.74c-.04.001-.044.004-.04.047c.001.037.465%201.064.555%201.263c.01.02.03.033.051.033c.157.003.767.009.938-.014c.153-.02.3-.06.438-.132c.3-.156.49-.419.595-.765c.052-.172.075-.353.075-.533q.003-3.495-.007-6.991a.03.03%200%200%200-.032-.032zm11.784%206.896q-.002-.02-.024-.022h-1.465c-.048-.001-.049-.002-.05-.049v-4.66c0-.072-.005-.07.07-.07h.863c.08%200%20.075.004.075-.074V8.393c0-.082.006-.076-.08-.076h-3.5c-.064%200-.075-.006-.075.073v1.445c0%20.083-.006.077.08.077h.854c.075%200%20.07-.004.07.07v4.624c0%20.095.008.084-.085.084c-.37%200-1.11-.002-1.304%200c-.048.001-.06.03-.06.03l-.697%201.519s-.014.025-.008.036s.013.008.058.008q2.622.003%205.243.002c.03-.001.034-.006.035-.033zm4.177-3.43q0%20.021-.02.024c-.346.006-.692.004-1.037.004q-.021-.003-.022-.024q-.006-.651-.01-1.303c0-.072-.006-.071.07-.07l.733-.003c.041%200%20.081.002.12.015c.093.025.16.107.165.204c.006.431.002%201.153.001%201.153m2.67.244a1.95%201.95%200%200%200-.883-.222h-.18c-.04-.001-.04-.003-.042-.04V10.21q.001-.198-.025-.394a1.8%201.8%200%200%200-.153-.53a1.53%201.53%200%200%200-.677-.71a2.2%202.2%200%200%200-1-.258c-.153-.003-.567%200-.72%200c-.07%200-.068.004-.068-.065V7.76c0-.031-.01-.041-.046-.039H17.93s-.016%200-.023.007q-.008.008-.008.023v.546c-.008.036-.057.015-.082.022h-.95c-.022.002-.028.008-.03.032v1.481c0%20.09-.004.082.082.082h.913c.082%200%20.072.128.072.128v1.148s.003.117-.06.117h-1.482c-.068%200-.06.082-.06.082v1.445s-.01.068.064.068h1.457c.082%200%20.076-.006.076.079v3.225c0%20.088-.007.081.082.081h1.43c.09%200%20.082.007.082-.08v-3.27c0-.029.006-.035.033-.035l2.323-.003a.7.7%200%200%201%20.28.061a.46.46%200%200%201%20.274.407c.008.395.003.79.003%201.185c0%20.259-.107.367-.33.367h-1.218c-.023.002-.029.008-.028.033q.276.655.57%201.303a.05.05%200%200%200%20.04.026c.17.005.34.002.51.003c.15-.002.517.004.666-.01a2%202%200%200%200%20.408-.075c.59-.18.975-.698.976-1.313v-1.981q.001-.191-.034-.38c0%20.078-.029-.641-.724-.998%22/%3E%3C/svg%3E)
}

.icon-xiaohongshu:hover {
    background-color: #ff2442!important
}

.icon-rg {
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%22114%22%20height%3D%22124%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M76.3%20123.2c2.5%200%205.2-.5%206.8-1.2v-3.8c-5.3%200-10.6-3.6-14.3-7.7-6.5-7-15-18.3-22.2-31a26.9%2026.9%200%200%200%2020.5-25c0-16.3-12.7-23.9-29.3-23.9-8.6%200-15.5.4-21.9.4H.6v4.2l5.5%201c3.8.8%206%202.5%206%2011.6v57.5c0%209-2.2%2010.8-6%2011.5l-5.5%201v4.3c4-.1%2010.8-.4%2017.6-.4%206.6%200%2015%20.3%2018.7.4v-4.2l-7.6-1c-4-.6-6-2.5-6-11.6V80.8c3.5.3%206.6.3%2011.3.3%208.9%2016%2017.4%2028%2022.2%2033.5a24.7%2024.7%200%200%200%2019.5%208.6zM34%2074.5c-5%200-7.2-.1-10.6-.4V37.5c3.4-.3%208-.3%2011.9-.3%2012.2%200%2019.5%206.4%2019.5%2018S47%2074.6%2034%2074.6zm44.5-36.8A40.5%2040.5%200%200%201%2078%2035a45.9%2045.9%200%200%201-.2-3.7%20158.6%20158.6%200%200%201-.1-5.2V21a45.9%2045.9%200%200%201%20.3-3.7%2039.4%2039.4%200%200%201%201-4.9c1.2-3.8%203.3-6.6%206.2-8.6C88%201.8%2091.6%201%2095.7%201c2.2%200%204.1.2%205.9.7%201.7.5%203.2%201.2%204.6%202.1a15.3%2015.3%200%200%201%203.4%203.1%2018%2018%200%200%201%202.4%203.8c.2.4.2.7-.2%201l-5.3%202.2c-.5.2-.8.1-1-.4a11.4%2011.4%200%200%200-4-4.7%209.9%209.9%200%200%200-5.8-1.5c-2.7%200-4%20.5-5.8%201.8a9.6%209.6%200%200%200-3.7%205.1%2018.9%2018.9%200%200%200-.8%203.9%2080.6%2080.6%200%200%200-.2%203.3%20134.6%20134.6%200%200%200%200%204.8%20137.6%20137.6%200%200%200%20.5%2010.4l.4%201.6a8%208%200%200%200%203.5%204.7c1.5%201%203.3%201.8%206.1%201.8%202.5%200%204.8-.7%206.3-1.8%201.5-1%202.7-2.5%203.2-4.5.3-.8.6-1.8.8-3%20.2-1.3.2-2.6.2-4.5%200-.3-.2-.4-.5-.4h-8.5c-.4%200-.7-.2-.7-.7v-4.9c0-.5.3-.7.7-.7H113c.4%200%20.7.2.7.7V29c0%202.2%200%204.3-.3%206.2-.2%201.8-.5%203.5-.9%204.7-1.1%203.7-3%206.4-6%208.4a19%2019%200%200%201-10.7%203c-4.1%200-7.7-.9-10.5-2.8-3-2-5-4.8-6.2-8.6a17%2017%200%200%201-.6-2.2z%22%2F%3E%3C%2Fsvg%3E)
}

.icon-rg:hover {
    background-color: #0cb!important
}

.icon-reddit {
    background-image: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20192%20192%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22m33.067%20111.226%205.826%201.435a6%206%200%200%200-3.978-7.143l-1.848%205.708Zm17.548-25.068-4.728%203.694a6%206%200%200%200%208.341%201.096l-3.613-4.79Zm90.77%200-3.613%204.79a6%206%200%200%200%208.341-1.096l-4.728-3.694Zm17.548%2025.068-1.848-5.708a6%206%200%200%200-3.978%207.143l5.826-1.435ZM96%20174.001c18.846%200%2036.138-5.722%2048.855-15.259C157.573%20149.203%20166%20135.568%20166%20120.001h-12c0%2010.943-5.9%2021.307-16.345%2029.141-10.447%207.835-25.155%2012.859-41.655%2012.859v12Zm-70-54c0%2015.567%208.427%2029.202%2021.145%2038.741%2012.717%209.537%2030.01%2015.259%2048.855%2015.259v-12c-16.5%200-31.208-5.024-41.655-12.859C43.9%20141.308%2038%20130.944%2038%20120.001H26Zm1.241-10.21A42.616%2042.616%200%200%200%2026%20120.001h12c0-2.505.306-4.956.893-7.34l-11.652-2.87ZM16%2096.001c0%209.793%206.394%2018.076%2015.219%2020.933l3.696-11.416A10.007%2010.007%200%200%201%2028%2096.001H16Zm22-22c-12.15%200-22%209.85-22%2022h12c0-5.523%204.477-10%2010-10v-12Zm17.343%208.463C51.326%2077.324%2045.049%2074%2038%2074v12c3.2%200%206.047%201.496%207.887%203.851l9.456-7.388ZM96%2066c-18.916%200-36.268%205.764-48.998%2015.367l7.226%209.58C64.682%2083.063%2079.438%2078%2096%2078V66Zm48.998%2015.367C132.268%2071.765%20114.916%2066%2096%2066v12c16.563%200%2031.318%205.062%2041.772%2012.947l7.226-9.58Zm1.115%208.484a9.972%209.972%200%200%201%207.887-3.85v-12c-7.05%200-13.326%203.322-17.343%208.463l9.456%207.388Zm7.887-3.85c5.523%200%2010%204.477%2010%2010h12c0-12.15-9.85-22-22-22v12Zm10%2010c0%204.438-2.895%208.215-6.915%209.517l3.696%2011.416c8.825-2.857%2015.219-11.14%2015.219-20.933h-12Zm2%2024a42.63%2042.63%200%200%200-1.241-10.21l-11.652%202.87c.587%202.384.893%204.835.893%207.34h12Z%22%3E%3C/path%3E%3Ccircle%20cx%3D%2268%22%20cy%3D%22110.001%22%20r%3D%2212%22%20fill%3D%22%23ffffff%22%3E%3C/circle%3E%3Ccircle%20cx%3D%22124%22%20cy%3D%22110.001%22%20r%3D%2212%22%20fill%3D%22%23ffffff%22%3E%3C/circle%3E%3Cpath%20stroke%3D%22%23ffffff%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%2212%22%20d%3D%22M120%20138.001s-8%206-24%206-24-6-24-6%22%3E%3C/path%3E%3Ccircle%20cx%3D%22146%22%20cy%3D%2236.001%22%20r%3D%2212%22%20stroke%3D%22%23ffffff%22%20stroke-width%3D%2212%22%3E%3C/circle%3E%3Cpath%20fill%3D%22%23ffffff%22%20fill-rule%3D%22evenodd%22%20d%3D%22M107.177%2022.118a6%206%200%200%200-7.028%204.553l-10%2044a6%206%200%201%200%2011.702%202.66l8.704-38.3%2024.074%204.815A11.985%2011.985%200%200%201%20134%2036c0-3.036%201.127-5.808%202.986-7.922l-29.809-5.961Z%22%20clip-rule%3D%22evenodd%22%3E%3C/path%3E%3C/svg%3E)
}

.icon-reddit:hover {
    background-color: #ff4500!important
}

/* .icon-sig {
    background-image: url('Sig/tenco/sig-tenco.png')
} */

.icon-plagpatrol {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512%22%20height%3D%22512%22%3E%3Cpath%20d%3D%22M451%20337c1-30-18-59-57-82-77-44-200-44-277%200-37%2022-56%2051-56%2080v57c-1%2030%2019%2059%2057%2081%2077%2044%20200%2044%20277%200%2037-22%2056-51%2056-79l1-58-1%201z%22%20fill%3D%22%23ddd%22%2F%3E%3Cpath%20d%3D%22M451%20336v58c0%2028-19%2057-56%2079-77%2044-200%2044-277%200-38-22-58-51-57-81v-57c0%2029%2019%2058%2057%2080%2077%2044%20201%2044%20277%200%2038-22%2056-50%2056-79z%22%20fill%3D%22%23999%22%2F%3E%3Cpath%20d%3D%22M394%20255c76%2044%2077%20116%201%20160s-200%2044-277%200c-76-44-77-116-1-160%2077-44%20200-44%20277%200z%22%20fill%3D%22%23ddd%22%2F%3E%3Cpath%20opacity%3D%22.7%22%20d%3D%22M423%20315%20379%2081a112%20112%200%200%200-3-12l-6-12a64%2064%200%200%200-12-14l-4-5a88%2088%200%200%200-18-12l-7-4a143%20143%200%200%200-38-13l-16-2-17-1-16%201c-5%200-10%200-17%202a165%20165%200%200%200-46%2016%20235%20235%200%200%200-16%2011%2090%2090%200%200%200-23%2028%2064%2064%200%200%200-6%2017L89%20314a57%2057%200%200%200%208%2042%2076%2076%200%200%200%2013%2017%20101%20101%200%200%200%2016%2013%20147%20147%200%200%200%2015%2010l2%201%204%202%203%201a184%20184%200%200%200%2010%204l2%201%206%202%201%201%206%202%203%201%204%201%203%201a243%20243%200%200%200%2011%203h3l5%201%202%201%207%201h3l4%201a268%20268%200%200%200%2019%202h21a297%20297%200%200%200%2019-1h2l18-2h1l5-1h2a255%20255%200%200%200%2012-3h1c19-5%2037-11%2053-20%2038-22%2055-51%2050-80z%22%20fill%3D%22%23a50020%22%2F%3E%3Cpath%20opacity%3D%22.9%22%20d%3D%22M197%2027c34-19%2088-18%20121%201%2032%2020%2032%2051-2%2070s-88%2018-120-2c-33-19-32-50%201-69z%22%20fill%3D%22%23fe0b37%22%2F%3E%3Cpath%20opacity%3D%22.9%22%20d%3D%22M134%2081a124%20124%200%200%201%206-17%2075%2075%200%200%201%2010-17%2090%2090%200%200%201%2029-22c4-3%2011-2%2018%202-33%2019-34%2050-1%2069%2033%2020%2086%2021%20120%202s34-50%202-70c-33-19-87-20-121-1-7-4-14-5-18-2a183%20183%200%200%201%2030-13%20164%20164%200%200%201%2066-5%20177%20177%200%200%201%2054%2015l7%204a163%20163%200%200%201%2018%2012l4%205a171%20171%200%200%201%2012%2014%2075%2075%200%200%201%209%2024c4%2021-8%2043-37%2059-48%2027-126%2027-174-2-26-16-38-37-34-57z%22%20fill%3D%22%23c60024%22%2F%3E%3Cpath%20d%3D%22M369%20266c64%2034%2064%2089%201%20123-62%2035-164%2035-227%200-64-34-64-89-1-123%2062-35%20164-35%20227%200z%22%20fill%3D%22%23820018%22%2F%3E%3Cpath%20opacity%3D%22.9%22%20d%3D%22M163%20385c-36-21-51-50-46-78l35-181c-15-14-21-30-18-45L89%20314c-5%2028%2010%2057%2047%2078%2054%2033%20137%2039%20202%2018-60%2011-128%203-175-25z%22%20fill%3D%22%23c60024%22%2F%3E%3C%2Fsvg%3E)
}

.icon-makevis {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20280%20260%22%3E%3Cpath%20fill%3D%22%23252525%22%20d%3D%22M120%200h40v20h-40V0Z%22%2F%3E%3Cpath%20fill%3D%22%23bc9862%22%20d%3D%22M0%2020h20v20H0V20Z%22%2F%3E%3Cpath%20fill%3D%22%23ad874e%22%20d%3D%22M20%2020h20v20H20V20Z%22%2F%3E%3Cpath%20fill%3D%22%23bc9762%22%20d%3D%22M40%2020h80v20H40V20Z%22%2F%3E%3Cpath%20fill%3D%22%23ad874e%22%20d%3D%22M120%2020h20v20h-20V20Z%22%2F%3E%3Cpath%20fill%3D%22%23bc9761%22%20d%3D%22M140%2020h40v20h-40V20Z%22%2F%3E%3Cpath%20fill%3D%22%23ac864d%22%20d%3D%22M180%2020h20v20h-20V20Z%22%2F%3E%3Cpath%20fill%3D%22%23bc9761%22%20d%3D%22M200%2020h20v20h-20V20Z%22%2F%3E%3Cpath%20fill%3D%22%23ac864d%22%20d%3D%22M220%2020h40v20h-40V20Z%22%2F%3E%3Cpath%20fill%3D%22%23755320%22%20d%3D%22M260%2020h20v20h-20V20Z%22%2F%3E%3Cpath%20fill%3D%22%23ad874e%22%20d%3D%22M0%2040h20v20H0V40Z%22%2F%3E%3Cpath%20fill%3D%22%23593d12%22%20d%3D%22M20%2040h220v20H40v160H20V40Z%22%2F%3E%3Cpath%20fill%3D%22%23805c25%22%20d%3D%22M240%2040h20v20h-20V40Z%22%2F%3E%3Cpath%20fill%3D%22%23593d12%22%20d%3D%22M260%2040h20v20h-20V40Z%22%2F%3E%3Cpath%20fill%3D%22%23bc9861%22%20d%3D%22M0%2060h20v40H0V60Z%22%2F%3E%3Cpath%20fill%3D%22%23834829%22%20d%3D%22M40%2060h40v20H40V60Z%22%2F%3E%3Cpath%20fill%3D%22%23c0753d%22%20d%3D%22M80%2060h20v40H60V80h20V60Z%22%2F%3E%3Cpath%20fill%3D%22%23a2612f%22%20d%3D%22M100%2060h40v20h-40V60Z%22%2F%3E%3Cpath%20fill%3D%22%237a4429%22%20d%3D%22M140%2060h20v20h-20V60Z%22%2F%3E%3Cpath%20fill%3D%22%23a2612f%22%20d%3D%22M160%2060h20v20h-20V60Z%22%2F%3E%3Cpath%20fill%3D%22%23c0753d%22%20d%3D%22M180%2060h20v20h-20V60Z%22%2F%3E%3Cpath%20fill%3D%22%23834829%22%20d%3D%22M200%2060h40v20h-40V60Z%22%2F%3E%3Cpath%20fill%3D%22%23916b31%22%20d%3D%22M240%2060h20v40h-20V60Z%22%2F%3E%3Cpath%20fill%3D%22%234a310c%22%20d%3D%22M260%2060h20v20h-20V60Z%22%2F%3E%3Cpath%20fill%3D%22%23a2612f%22%20d%3D%22M40%2080h20v20H40V80Z%22%2F%3E%3Cpath%20fill%3D%22%23e9a55b%22%20d%3D%22M100%2080h20v20h-20V80Z%22%2F%3E%3Cpath%20fill%3D%22%23c0753d%22%20d%3D%22M120%2080h40v20h-40V80Z%22%2F%3E%3Cpath%20fill%3D%22%23c9c0ba%22%20d%3D%22M160%2080h20v20h-20V80Z%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M180%2080h20v20h-20V80Z%22%2F%3E%3Cpath%20fill%3D%22%23c0753d%22%20d%3D%22M200%2080h20v20h-20V80Z%22%2F%3E%3Cpath%20fill%3D%22%23a2612f%22%20d%3D%22M220%2080h20v20h-20V80Z%22%2F%3E%3Cpath%20fill%3D%22%23593c12%22%20d%3D%22M260%2080h20v20h-20V80Z%22%2F%3E%3Cpath%20fill%3D%22%23ad884f%22%20d%3D%22M0%20100h20v20H0v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23bf753c%22%20d%3D%22M40%20100h20v80H40v-80Z%22%2F%3E%3Cpath%20fill%3D%22%23e9a55b%22%20d%3D%22M60%20100h40v20H80v40h20v20H60v-80Z%22%2F%3E%3Cpath%20fill%3D%22%23ffd080%22%20d%3D%22M100%20100h20v40h-20v20H80v-40h20v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23fffba8%22%20d%3D%22M120%20100h20v20h-20v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23c9c0ba%22%20d%3D%22M140%20100h20v20h-20v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M160%20100h20v20h-20v-20Z%22%2F%3E%3Cpath%20fill%3D%22%239c867a%22%20d%3D%22M180%20100h20v20h-20v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23e8a55b%22%20d%3D%22M200%20100h20v80h-20v-40h-20v-20h20v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23c0753d%22%20d%3D%22M220%20100h20v80h-20v-80Z%22%2F%3E%3Cpath%20fill%3D%22%23815d26%22%20d%3D%22M240%20100h20v20h-20v-20Z%22%2F%3E%3Cpath%20fill%3D%22%2349300c%22%20d%3D%22M260%20100h20v40h-20v-40Z%22%2F%3E%3Cpath%20fill%3D%22%23bb9761%22%20d%3D%22M0%20120h20v20H0v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23c9c0ba%22%20d%3D%22M120%20120h20v20h-20v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23fefefe%22%20d%3D%22M140%20120h20v20h-20v-20Z%22%2F%3E%3Cpath%20fill%3D%22%239c867a%22%20d%3D%22M160%20120h20v20h-20v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23916c31%22%20d%3D%22M240%20120h20v40h-20v-40Z%22%2F%3E%3Cpath%20fill%3D%22%23ad874e%22%20d%3D%22M0%20140h20v40H0v-40Z%22%2F%3E%3Cpath%20fill%3D%22%23372d1b%22%20d%3D%22M100%20140h20v20h20v20h-40v-40Z%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M120%20140h20v20h-20v-20Z%22%2F%3E%3Cpath%20fill%3D%22%239c867a%22%20d%3D%22M140%20140h20v20h-20v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23e8a55b%22%20d%3D%22M160%20140h20v20h-20v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23fed080%22%20d%3D%22M180%20140h20v40h-40v-20h20v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23583c12%22%20d%3D%22M260%20140h20v20h-20v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23e8a55b%22%20d%3D%22M140%20160h20v20h-20v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23805c26%22%20d%3D%22M240%20160h20v40h-20v-40Z%22%2F%3E%3Cpath%20fill%3D%22%2348300c%22%20d%3D%22M260%20160h20v100h-80v-20h60v-80Z%22%2F%3E%3Cpath%20fill%3D%22%23a47c41%22%20d%3D%22M0%20180h20v40H0v-40Z%22%2F%3E%3Cpath%20fill%3D%22%23a1602f%22%20d%3D%22M40%20180h20v20h20v20H60c-1-6%202-14-1-19-6-2-13-1-19-1v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23c0753d%22%20d%3D%22M60%20180h20v20H60v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23372d1b%22%20d%3D%22M80%20180h20v20H80v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23e9a55b%22%20d%3D%22M100%20180h20v20h-20v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23c0753d%22%20d%3D%22M120%20180h40v20h-40v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23e8a55b%22%20d%3D%22M160%20180h40v20h-40v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23c0753d%22%20d%3D%22M200%20180h20v20h-20v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23834929%22%20d%3D%22M220%20180h20v20h-20v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23944c29%22%20d%3D%22M40%20200c6%200%2013-1%2019%201%203%205%200%2013%201%2019H40v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23c0753d%22%20d%3D%22M80%20200h20v20H80v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23a2612f%22%20d%3D%22M100%20200h20v20c-7-1-14%201-20-1v-19Z%22%2F%3E%3Cpath%20fill%3D%22%237a4529%22%20d%3D%22M120%20200h20v20h-20v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23a2612f%22%20d%3D%22M140%20200h40v20h-40v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23c0753d%22%20d%3D%22M180%20200h20v20h-20v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23944b29%22%20d%3D%22M200%20200h40v20h-40v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23906b30%22%20d%3D%22M240%20200h20v20h-20v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23916b30%22%20d%3D%22M100%20219c6%202%2013%200%2020%201v20h-20v-21Z%22%2F%3E%3Cpath%20fill%3D%22%23916c31%22%20d%3D%22M0%20220h20v20H0v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23815d26%22%20d%3D%22M20%20220h20v20H20v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23916b31%22%20d%3D%22M40%20220h40v20H40v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23815d26%22%20d%3D%22M80%20220h20v20H80v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23805c25%22%20d%3D%22M120%20220h39l1%2020h-40v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23916c31%22%20d%3D%22M159%20220h81v20h-80l-1-20Z%22%2F%3E%3Cpath%20fill%3D%22%23815d26%22%20d%3D%22M240%20220h20v20h-20v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23593c12%22%20d%3D%22M0%20240h20v20H0v-20Z%22%2F%3E%3Cpath%20fill%3D%22%2349300b%22%20d%3D%22M20%20240h20v20H20v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23583b12%22%20d%3D%22M40%20240h20v20H40v-20Z%22%2F%3E%3Cpath%20fill%3D%22%234a310c%22%20d%3D%22M60%20240h20v20H60v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23593d12%22%20d%3D%22M80%20240h40v20H80v-20Z%22%2F%3E%3Cpath%20fill%3D%22%2349300c%22%20d%3D%22M120%20240h60v20h-60v-20Z%22%2F%3E%3Cpath%20fill%3D%22%23583c12%22%20d%3D%22M180%20240h20v20h-20v-20Z%22%2F%3E%3C%2Fsvg%3E)
}

.icon-horpavje {
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%22462%22%20height%3D%22423%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M188%200h9c7%203%2012%2010%2017%2015l52%2052%203%203-2%203-34%2033%2028%2027%207%207%2036-35%2036%2035c10-8%2018-18%2028-27l28%2028-28%2028c-10-9-18-19-28-27l-36%2035-36-35c-7%205-13%2012-19%2018l-17%2018%2017%2018c6%206%2012%2013%2019%2018l36-35%2018%2018%2018%2018-8%208-28%2028-36-35c-7%205-13%2012-19%2018l-17%2018%2017%2018%2019%2019%2036-36%2018%2018%2018%2018-17%2018-19%2018-36-35c-9%207-17%2016-25%2024l-11%2011c-2%204%200%208%203%2011l25%2026c8-6%2014-14%2022-21l22%2022-22%2022c-8-7-14-15-22-21l-44%2045c-5%204-8%2010-14%2012-8%203-18%202-24-4l-99-81c-4-3-10-2-14-3-9-2-19-4-26-9-8-5-15-10-21-17-5-7-11-14-13-22s-4-16-4-25v-75c0-8%202-16%204-24s7-14%2012-21c6-8%2014-15%2023-20%209-7%2021-9%2032-10%204%200%207-4%209-7l97-97%2010-6M48%20142c-8%206-15%2014-20%2023-4%208-3%2016-3%2024v75c0%2010%204%2020%2011%2028%207%207%2016%2014%2026%2017h20l86%201%2010-1c2-1%201-5%202-7-1-6%201-13-1-19-2-5-8-4-12-4H92c-7%200-14%201-21-1-6-1-11-6-14-11-2-6-2-12-2-18l3-10h129v-55c0-9-4-18-9-26-7-11-18-19-30-23l-16-1H70c-8%200-15%204-22%208zm354%203%2014-14%2014%2014-14%2014-14-14z%22%2F%3E%3Cpath%20d%3D%22M66%20170c5-4%2011-4%2017-4h52c6%200%2012%203%2016%208%205%207%204%2016%204%2024%200%203%200%207-3%208-5%202-10%201-15%201H55l1-25c0-5%205-10%2010-12zm276%2045%2036-36%2036%2036-36%2036-36-36zm84%204%2018-18%2018%2017v2l-18%2017-18-18zm-78%2070%2022-22%2022%2022-22%2022-22-22z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E)
}

.icon-camerchecker {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%23455a64%22%20d%3D%22M256%200a138.8%20138.8%200%200%200-138.7%20138.7V224c0%205.9%204.8%2010.7%2010.7%2010.7h42.7c5.9%200%2010.6-4.8%2010.6-10.7v-85.3a74.7%2074.7%200%201%201%20149.4%200v42.6c0%206%204.7%2010.7%2010.6%2010.7H384c5.9%200%2010.7-4.8%2010.7-10.7v-42.6C394.6%2062%20332.5%200%20256%200z%22%2F%3E%3Cpath%20fill%3D%22%23ffc107%22%20d%3D%22M128%20213.3h256a53.3%2053.3%200%200%201%2053.3%2053.4v192A53.3%2053.3%200%200%201%20384%20512H128a53.3%2053.3%200%200%201-53.3-53.3v-192a53.3%2053.3%200%200%201%2053.3-53.4z%22%2F%3E%3Cpath%20fill%3D%22%23455a64%22%20d%3D%22M309.3%20330.7a53.3%2053.3%200%201%200-77%2047.5l-8.2%2057.6a10.7%2010.7%200%200%200%2010.6%2012.2h42.6a10.7%2010.7%200%200%200%2010.7-12.2l-8.2-57.6c18-9%2029.4-27.4%2029.5-47.5z%22%2F%3E%3C%2Fsvg%3E)
}

.icon-xef {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22760%22%20height%3D%22760%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Ccircle%20cx%3D%22551.9%22%20cy%3D%2261.7%22%20r%3D%2243.7%22%2F%3E%3Ccircle%20cx%3D%22563.8%22%20cy%3D%22176.5%22%20r%3D%2237%22%2F%3E%3Ccircle%20cx%3D%22660.9%22%20cy%3D%22190.3%22%20r%3D%2236.9%22%2F%3E%3Ccircle%20cx%3D%22649%22%20cy%3D%22288.2%22%20r%3D%2231.6%22%2F%3E%3Ccircle%20cx%3D%22726.7%22%20cy%3D%22318.1%22%20r%3D%2231.8%22%2F%3E%3Ccircle%20cx%3D%22551.4%22%20cy%3D%22274.9%22%20r%3D%2232.4%22%2F%3E%3Ccircle%20cx%3D%22523.1%22%20cy%3D%22353.6%22%20r%3D%2227.1%22%2F%3E%3Ccircle%20cx%3D%22620.3%22%20cy%3D%22366.9%22%20r%3D%2226.9%22%2F%3E%3Ccircle%20cx%3D%22697.9%22%20cy%3D%22396.7%22%20r%3D%2227.2%22%2F%3E%3Ccircle%20cx%3D%22659.4%22%20cy%3D%22456.6%22%20r%3D%2222.9%22%2F%3E%3Ccircle%20cx%3D%22581.5%22%20cy%3D%22426.6%22%20r%3D%2223.4%22%2F%3E%3Ccircle%20cx%3D%22484.4%22%20cy%3D%22413.2%22%20r%3D%2223.2%22%2F%3E%3Ccircle%20cx%3D%22538.3%22%20cy%3D%22468.6%22%20r%3D%2220.2%22%2F%3E%3Ccircle%20cx%3D%22616.1%22%20cy%3D%22498.5%22%20r%3D%2220.4%22%2F%3E%3Ccircle%20cx%3D%22572.1%22%20cy%3D%22524.9%22%20r%3D%2216.1%22%2F%3E%3Ccircle%20cx%3D%22530.5%22%20cy%3D%22538.4%22%20r%3D%2214.6%22%2F%3E%3Ccircle%20cx%3D%22494.2%22%20cy%3D%22495.8%22%20r%3D%2217.4%22%2F%3E%3Ccircle%20cx%3D%22441%22%20cy%3D%22455.3%22%20r%3D%2220.2%22%2F%3E%3Ccircle%20cx%3D%22600.4%22%20cy%3D%22675.5%22%20r%3D%2243.5%22%2F%3E%3Ccircle%20cx%3D%22494.5%22%20cy%3D%22629.4%22%20r%3D%2236.3%22%2F%3E%3Ccircle%20cx%3D%22434.2%22%20cy%3D%22705.2%22%20r%3D%2236.6%22%2F%3E%3Ccircle%20cx%3D%22415.9%22%20cy%3D%22569.3%22%20r%3D%2231.7%22%2F%3E%3Ccircle%20cx%3D%22355.6%22%20cy%3D%22646.6%22%20r%3D%2231.6%22%2F%3E%3Ccircle%20cx%3D%22290.9%22%20cy%3D%22699.2%22%20r%3D%2231.5%22%2F%3E%3Ccircle%20cx%3D%22236.7%22%20cy%3D%22635.1%22%20r%3D%2226.9%22%2F%3E%3Ccircle%20cx%3D%22301.6%22%20cy%3D%22582.5%22%20r%3D%2226.9%22%2F%3E%3Ccircle%20cx%3D%22362.2%22%20cy%3D%22505.2%22%20r%3D%2226.9%22%2F%3E%3Ccircle%20cx%3D%22269.4%22%20cy%3D%22519.1%22%20r%3D%2223.3%22%2F%3E%3Ccircle%20cx%3D%22204.7%22%20cy%3D%22571.8%22%20r%3D%2223.1%22%2F%3E%3Ccircle%20cx%3D%22189.8%22%20cy%3D%22513.2%22%20r%3D%2220%22%2F%3E%3Ccircle%20cx%3D%22189.1%22%20cy%3D%22461.8%22%20r%3D%2217.2%22%2F%3E%3Ccircle%20cx%3D%22197.9%22%20cy%3D%22419.2%22%20r%3D%2214.6%22%2F%3E%3Ccircle%20cx%3D%22253.8%22%20cy%3D%22409.3%22%20r%3D%2217.4%22%2F%3E%3Ccircle%20cx%3D%22315%22%20cy%3D%22383.2%22%20r%3D%2220.2%22%2F%3E%3Ccircle%20cx%3D%22329.7%22%20cy%3D%22441.7%22%20r%3D%2223%22%2F%3E%3Ccircle%20cx%3D%22254.6%22%20cy%3D%22460.7%22%20r%3D%2220.1%22%2F%3E%3Ccircle%20cx%3D%2244.4%22%20cy%3D%22411.1%22%20r%3D%2243.4%22%2F%3E%3Ccircle%20cx%3D%22138.2%22%20cy%3D%22342.9%22%20r%3D%2237.1%22%2F%3E%3Ccircle%20cx%3D%22101.4%22%20cy%3D%22251.9%22%20r%3D%2237%22%2F%3E%3Ccircle%20cx%3D%22191.8%22%20cy%3D%22213.5%22%20r%3D%2231.7%22%2F%3E%3Ccircle%20cx%3D%22228.8%22%20cy%3D%22304.3%22%20r%3D%2231.8%22%2F%3E%3Ccircle%20cx%3D%22311.1%22%20cy%3D%22289.7%22%20r%3D%2227.1%22%2F%3E%3Ccircle%20cx%3D%22382.3%22%20cy%3D%22293.4%22%20r%3D%2223.3%22%2F%3E%3Ccircle%20cx%3D%22441%22%20cy%3D%22310.1%22%20r%3D%2219.6%22%2F%3E%3Ccircle%20cx%3D%22448.5%22%20cy%3D%22243.9%22%20r%3D%2217.1%22%2F%3E%3Ccircle%20cx%3D%22403.4%22%20cy%3D%22219.1%22%20r%3D%2219.8%22%2F%3E%3Ccircle%20cx%3D%22345.3%22%20cy%3D%22202.5%22%20r%3D%2223.2%22%2F%3E%3Ccircle%20cx%3D%22274.4%22%20cy%3D%22199%22%20r%3D%2227.1%22%2F%3E%3Ccircle%20cx%3D%22178.8%22%20cy%3D%22131%22%20r%3D%2230.7%22%2F%3E%3Ccircle%20cx%3D%22261%22%20cy%3D%22116.5%22%20r%3D%2227.1%22%2F%3E%3Ccircle%20cx%3D%22332.1%22%20cy%3D%22120.2%22%20r%3D%2223.4%22%2F%3E%3Ccircle%20cx%3D%22390.4%22%20cy%3D%22136.8%22%20r%3D%2219.7%22%2F%3E%3Ccircle%20cx%3D%22435.2%22%20cy%3D%22161.7%22%20r%3D%2217.6%22%2F%3E%3Ccircle%20cx%3D%22467.9%22%20cy%3D%22191%22%20r%3D%2214.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E)
}

header {
    overflow: hidden
}

header .container {
    flex-wrap: wrap;
    display: flex
}

header .container .col-left,header .container .col-right {
    width: 100%
}

@media (min-width: 768px) {
    header .container .col-left {
        max-width:60%;
        flex: 0 0 60%;
        order: 1
    }

    header .container .col-right {
        max-width: 40%;
        flex: 0 0 40%;
        order: 2
    }
}

header .greetings {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.1rem
}

@media (min-width: 768px) {
    header .greetings {
        text-align:left;
        margin-top: 5rem;
        font-size: 1.5rem
    }
}

header .greetings h1 {
    margin-bottom: .4em;
    font-size: 3em;
    font-weight: 900;
    line-height: 1em
}

.ipa {
    font-family: 'Segoe UI', Roboto, Arial, sans-serif
}

.ipa::before {
    content: '[';
}

.ipa::after {
    content: ']';
}

header .greetings .text-slider {
    display: inline-block
}

@media (min-width: 768px) {
    header .greetings .text-slider:after {
        clear:both;
        content: "";
        display: block
    }

    header .greetings .text-slider>div {
        float: left
    }
}

header .greetings .text-slider .text-slider-wrapper {
    height: 1.5em;
    overflow: hidden
}

@media (min-width: 768px) {
    header .greetings .text-slider .text-slider-wrapper {
        margin-left:.25em
    }
}

header .greetings .text-slider .text-slider-wrapper ul {
    padding: 0;
    font-weight: 700;
    list-style: none;
    transition: transform .5s ease-in-out
}

header .greetings .text-slider .text-slider-wrapper ul.no-animate {
    transition: none
}

header .contact-buttons {
    margin: 1rem -.2rem 0
}

@media (max-width: 767.98px) {
    header .contact-buttons {
        max-width:12rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }
}

header .contact-buttons a.btn {
    width: 36px;
    height: 36px;
    background-color: #333f50;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 50%;
    border-radius: 50%;
    margin: 0 .2rem;
    transition: background-color .1s ease-in-out;
    display: inline-block
}

@media (prefers-color-scheme: dark) {
    html:not(.light-theme) header .contact-buttons a.btn {
        filter:invert();
        transition: none
    }

    html:not(.light-theme) header .contact-buttons a.btn:hover {
        filter: none
    }
}

html.dark-theme header .contact-buttons a.btn {
    filter: invert();
    transition: none
}

html.dark-theme header .contact-buttons a.btn:hover {
    filter: none
}

header .profile {
    margin-top: -1rem;
    position: relative
}

header .profile .circle { 
    width: 550px;
    height: 550px;
    background: linear-gradient(45deg,#333f50 0%,#6f837a 60%);
    border-radius: 50%
}

header .profile .image {
    width: 550px;
    height: 550px;
    background: url('https://r2.20121010.xyz/guc-bise/2025/03/c53a2258754fc5b3825da1ca925b15a7.png') 50% no-repeat;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0
}

header .profile .image .sunglasses {
    width: 31%;
    height: 13%;
    opacity: 0;
    cursor: pointer;
    background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22183%22%20height%3D%2276%22%3E%3Cdefs%3E%3ClinearGradient%20id%3D%22glare%22%20x1%3D%2250%25%22%20y1%3D%220%25%22%20x2%3D%2250%25%22%20y2%3D%22100%25%22%3E%3Cstop%20stop-color%3D%22%23444%22%20offset%3D%220%25%22%2F%3E%3Cstop%20offset%3D%22100%25%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpath%20d%3D%22M152%2022s22.8%2010.3%2029.5%2021c0%200%20.2%208-.2%208S165%2039%20165%2039s-8.3-6.3-14-4c-5.7%202.3%201-13%201-13z%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M4%2025S8.3%202%2066%206c0%200%2056.3-12.3%2081%202%200%200%208.3%208.8%208.3%2026.3%200%206-.2%2012.4-3.3%2020.7%200%200-7%2021.7-45%2013S74.3%2028.7%2068%2030c-3.5.7-7%2023.3-19.3%2035.7C38.4%2076%2019.9%2076.9%2010%2073c0%200-9-3.7-9-24s3-24%203-24z%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M58%2012c1.7%201.7%206.3%2010.3%200%2024.7C51.7%2051%2043%2066.3%2032%2068.3S8.7%2069.7%207%2058c-1-6.8-1.2-18%201-26.7a22.4%2022.4%200%200%201%2011.3-13.6C30.7%2012%2057.3%2011.4%2058%2012zM78.3%2010c3.8-1.5%2045-4.6%2061.7%201.3%205.8%202%206%207.2%207%2011.7%204.7%2019.7-1%2034-12.7%2039-11.6%205-39-2-44.3-8-5.3-6-11-15.3-13.3-23-2.4-7.7-2.1-19.5%201.6-21z%22%20fill%3D%22url%28%27%23glare%27%29%22%2F%3E%3C%2Fsvg%3E) 0 0/contain no-repeat;
    transition: transform .1s ease-in-out,opacity .1s ease-in-out;
    display: block;
    position: absolute;
    top: 11%;
    left: 32%;
    transform: translateY(-20%)
}

@media (prefers-color-scheme: dark) {
    html:not(.light-theme) header .profile .image .sunglasses {
        opacity:1;
        transform: translateY(0)
    }
}

html.dark-theme header .profile .image .sunglasses {
    opacity: 1;
    transform: translateY(0)
}

header .profile .rectangle {
    width: 1100px;
    height: 550px;
    z-index: -1;
    background: #6f837a;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10%,-70%)rotate(-45deg)
}

@media (max-width: 767.98px) {
    header .profile {
        width:120px;
        margin: 2rem auto 0
    }

    header .profile .circle,header .profile .image {
        width: 120px;
        height: 120px
    }

    header .profile .image {
        background-position: 54% bottom;
        background-size: 50%
    }

    header .profile .image .sunglasses {
        width: 34%;
        height: 14%;
        top: 28%;
        left: 34%
    }

    header .profile .rectangle {
        display: none
    }
}

section.featured-projects .card {
    height: 260px;
    transition: filter .2s;
    position: relative;
    overflow: hidden
}

section.featured-projects .card.unmaintained:not(:hover) {
    filter: saturate(10%)
}

section.featured-projects .card.unmaintained:before {
    content: "已 停 更";
    color: #fff;
    background: #111c;
    padding: .3rem 4rem;
    font-size: 70%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(25%,115%)rotate(45deg)
}

@media (max-width: 575.98px) {
    section.featured-projects .card {
        height:300px
    }
}

section.featured-projects .card .foreground {
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 1.3rem;
    position: absolute;
    top: 0;
    left: 0
}

section.featured-projects .card .foreground h3 {
    max-width: 80%;
    margin: .3em 0 .8em;
    font-size: 1.6em;
    line-height: 1em
}

section.featured-projects .card .foreground small {
    text-transform: uppercase;
    opacity: .8;
    font-size: .9em
}

section.featured-projects .card .foreground .tags {
    max-width: 80%;
    margin: -2px
}

section.featured-projects .card .foreground .tags span {
    color: #111;
    background: #fff;
    border-radius: 4px;
    margin: 2px;
    padding: 4px 8px;
    font-size: .7em;
    font-weight: 700;
    display: inline-block
}

section.featured-projects .card .foreground .action-btn {
    background: #fff;
    border-radius: 6px;
    padding: .6em 1.3em;
    font-weight: 700;
    text-decoration: none;
    transition: transform .1s ease-in-out,box-shadow .1s ease-in-out;
    display: block;
    position: absolute;
    bottom: 1.3rem;
    left: 1.3rem;
    box-shadow: 0 2px 3px #0000004d
}

section.featured-projects .card .foreground .action-btn:hover {
    transform: translateY(2px);
    box-shadow: 0 0 3px #0000004d
}

section.featured-projects .card .background {
    width: 90%;
    height: 70%;
    opacity: .2;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform .2s ease-in-out;
    position: absolute;
    bottom: -10%;
    right: -10%
}

@media (max-width: 575.98px) {
    section.featured-projects .card .background {
        width:80%
    }
}

section.featured-projects .card:hover .background {
    transform: scale(1.1)rotate(2deg)
}

section.featured-projects .card.card-seniva {
    color: #fff;
    background: linear-gradient(30deg,#333f50 0%,#6f837a 60%)
}

section.featured-projects .card.card-seniva .action-btn {
    color: #333f50
}

section.featured-projects .card.card-sig {
    color: #fff;
    background: linear-gradient(30deg,#003399 0%,#3399cc 60%)
}

section.featured-projects .card.card-sig .action-btn {
    color: #003399
}

section.featured-projects .card.card-nivoni {
    color: #fff;
    background: linear-gradient(30deg,#00b0f0 0%,#0070c0 100%)
}

section.featured-projects .card.card-nivoni .action-btn {
    color: #00b0f0
}

section.featured-projects .card.card-zer {
    color: #fff;
    background: linear-gradient(30deg,#d6a000 0%,#ed8106 100%)
}

section.featured-projects .card.card-zer .action-btn {
    color: #d6a000
}

section.featured-projects .card.card-makevis {
    color: #fff;
    background: linear-gradient(30deg,#f7103a 0%,#820018 100%)
}

section.featured-projects .card.card-makevis .action-btn {
    color: #f7103a
}

section.featured-projects .card.card-horpavje {
    color: #fff;
    background: linear-gradient(30deg,#5c882a 0%,#256312 100%)
}

section.featured-projects .card.card-horpavje .action-btn {
    color: #5c882a
}

section.featured-projects .card.card-tegojafo {
    color: #000;
    background: linear-gradient(30deg,#d0d8df 0%,#f0f8ff 100%)
}

section.featured-projects .card.card-tegojafo .action-btn {
    color: #888
}

section.featured-projects .card.card-xef {
    color: #fff;
    background: linear-gradient(30deg,#04a997 0%,#046d53 100%)
}

section.featured-projects .card.card-xef .action-btn {
    color: #04a997
}

section.featured-projects .card.card-lt {
    color: #fff;
    background: linear-gradient(30deg,#a6144c 0%,#640648 100%)
}

section.featured-projects .card.card-fene .action-btn {
    color: #000
}

section.featured-projects .card.card-fene {
    color: #fff;
    background: linear-gradient(30deg,#333 0%,#999 100%)
}

section.featured-projects .card.card-lt .action-btn {
    color: #a6144c
}

section.articles .card {
    color: #111;
    background: #f3dfc1;
    padding: 2rem
}

@media (prefers-color-scheme: dark) {
    html:not(.light-theme) section.articles .card {
        background:#f3dfea
    }
}

html.dark-theme section.articles .card {
    background: #f3dfea
}

section.articles .card h3 {
    margin-bottom: .2em;
    font-size: 1.4em;
    font-weight: 900;
    line-height: 1.1em
}

section.articles .card .links {
    height: 30px;
    margin-top: 1.3em
}

section.articles .card .links .btn {
    width: 30px;
    height: 30px;
    background-color: #111;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 60%;
    border-radius: 3px;
    margin-right: 3px;
    transition: background-color .1s ease-in-out;
    display: inline-block
}

footer {
    text-align: center;
    opacity: .7;
    margin: 2rem;
    line-height: 1em
}
