@font-face {
	font-family: 'homnela';
	src: url('../pajne/homnela.woff2');
}

@font-face {
	font-family: 'Harin Nifik';
    font-style: normal;
	src: url('../pajne/Harin Nifik.otf');
}

@font-face {
	font-family: 'unifik';
	src: url('../pajne/unifik.woff2');
}