:root {
    --fserif: Fitenkasunti, Fitenkajti, Besley, unifik, '思源宋体 传统', FreeSerif;
    --fsans: Fitenkasunti, Fitenkajti, 'Inter', 'Sarasa Gothic CL', 'unifik';
}
.pagedjs_page:has(.nj) .pagedjs_margin-content {
    display: none;
}
@page {
    size: 18.2cm 25.7cm;
    margin: 2.5cm;
}
@page:left {
    @bottom-left {
        font-family: var(--fserif);
        font-weight: bold;
        font-size: 10pt;
        content: counter(page);
  }
}
@page:right {
    @bottom-right {
        font-family: var(--fserif);
        font-weight: bold;
        font-size: 10pt;
        content: counter(page);
  }
}
body {
    text-underline-offset: 1pt;
    font-family: var(--fserif);
}
/* u {
    text-decoration: none;
    border: 0;
    border-bottom: 1.5px solid;
    border-image: linear-gradient(currentcolor,currentcolor) 1 0 / 1 0.1em;
} */
.pl {
    text-decoration: underline;
    -moz-text-decoration-style: wavy;
    text-decoration-style: wavy;
}
/* .j {
    height: 25cm;
    text-align: center;
    page-break-before: always;
} */
@media print {
    .j, .nj {
        /* height: 20.7cm; */
        text-align: center;
        page-break-before: always;
        counter-increment: page;
    }
}
@media screen {
    /* html { */
        /* background-color: #bfd3ca; */
        /* color: #333f50 */
    /* } */
    .j, .nj {
        /* height: 25cm; */
        text-align: center;
        padding: 8px;
        /* background-color: #dff3ea; */
        /* -webkit-border-radius: 4px; */
        /* -moz-border-radius: 4px; */
        /* border-radius: 4px; */
        /* -webkit-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15); */
        /* -moz-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15); */
        /* box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15); */
        page-break-before: always;
        counter-increment: page;
    }
}
h1 {
    display: block;
    font-family: var(--fsans);
    font-size: 40pt;
    text-align: center;
    font-weight: 700;
    line-height: 48pt;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
}
h2 {
    font-size: 24pt;
    text-align: left;
    font-weight: 700;
    line-height: 32pt;
}
/* .jt::after {
    text-align: left;
    content: counter(page);
} */
.fh2f, .ph2f {
    display: inline-block;
    width: 13cm;
    font-size: 64pt;
    /* border-bottom: 5px solid black; */
    line-height: 108pt;
}
/* .h2h {
    font-size: 36pt;
} */
table {
    text-align: left;
    margin: 0 auto;
}
th {
    font-family: var(--fsans);
}
td {
    width: 6.6cm;
    font-size: 10.5pt;
    line-height: 16pt;
    vertical-align: top;
}
p {
    text-align: left;
    margin: 4pt 0;
}
/* footer {
    font-family: var(--fsans);
} */
.pu, .mlp {
    font-family: 'PT Root UI', unifik, FreeSerif;
    font-size: 11pt;
}
.ho {
    font-family: 'Harin Nifik';
    font-size: 14pt;
}
.de {
    font-family: Pelisometra;
}
.ki {
    font-family: 'Source Serif 4';
}
.fi, .mlf {
    font-family: Fitenkasunti, 'PT Root UI', '霞鹜文楷', FreeSerif;
}
.mljp {
    font-weight: 700;
    width: 4em;
}
.mll,.mlp,.mlh,.mlf {
    width: 24em
}
.fml, .pml {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.pagereset {
    counter-reset: page;
}