section {
    font-family: var(--fserif);
    margin-bottom: 1em;
}

.label {
    font-weight: bold;
}

.hidden {
    display: none;
}

.search {
    display: none;
}

.ftnk {
    font-weight: bold;
    font-size: 200%;
    writing-mode: vertical-lr;
}

.pnst,
.ex,
.cf {
    font-family: homnela, var(--fserif);
}

.pnst {
    font-weight: bold;
}

.hnv1 {
    font-family: 'DejaVu Sans','Noto Sans Symbols2', 'Sarasa Gothic CL';
    font-weight: bold;
    line-height: 250%;
}

.hnv3 {
    font-family: 'Sarasa Gothic CL';
    font-weight: bold;
}

abbr {
    font-family: var(--fsans);
    color: var(--cwhite);
    background-color: var(--clabel);
    border-radius: 4pt;
    padding-top: 2pt;
    padding-bottom: 2pt;
    padding-left: 4pt;
    padding-right: 4pt;
    margin-right: 4pt;
    text-decoration: none;
}

td {
    border: none;
}

section>div>div,
td>div {
    margin-bottom: 4pt;
    margin-left: 4pt;
}