/* CSS Document */
@font-face {
      font-family: 'Harin Nifik';
      src: url('../pajne/Harin Nifik.otf');
      font-weight: normal;
      font-style: normal;
    }
@font-face {
      font-family: 'Harin Vizr';
      src: url('../pajne/Harin Vizr.otf');
      font-weight: normal;
      font-style: normal;
    }
@font-face {
      font-family: 'Harin NifikP';
      src: url('../pajne/Harin Nifik Pikar.otf');
      font-weight: bold;
      font-style: normal;
    }
@font-face {
      font-family: 'Harin Nifik';
      src: url('../pajne/Harin Nifik Bigitr.otf');
      font-weight: normal;
      font-style: italic;
    }
@font-face {
	font-family: 'IpaP';
	src: url('../pajne/IpaP.ttf');
	}