@import url('書.css');

body {
    font-family: Spectral, '文鼎ＰＬ简报宋', '方正书宋_GBK', '思源宋体', 'Noto Serif';
}

/* 奇数页页码右对齐 */
@page content:right {
    @bottom-right {
        content: counter(page);
        /* font-family: Spectral, '方正书宋_GBK', '思源宋体'; */
        font-size: 12pt;
    }
}

/* 偶数页页码左对齐 */
@page content:left {
    @bottom-left {
        content: counter(page);
        /* font-family: Spectral, '方正书宋_GBK', '思源宋体'; */
        font-size: 12pt;
    }
}

h2 .hnv, h1 .han {
    font-family: Inter, 思源黑体;
    letter-spacing: 0;
}

/* .lat { */
    /* font-family: Spectral, '方正书宋_GBK', '思源宋体'; */
    /* margin-left: 0.1em; */
/* } */

.ftnk {
    font-family: Fitenkasunti, Spectral, '方正书宋_GBK', '思源宋体';
}

.hnv {
    font-family: Spectral, '文鼎ＰＬ简中楷', '方正楷体_GBK';
    font-size: smaller;
    letter-spacing: -0.1pt;
}

div.han {
    /* font-family: Spectral, '方正书宋_GBK', '思源宋体'; */
    font-size: 10.5pt;
    margin-bottom: 0.2em;
}

h3.han {
    text-align: center;
    font-family: Spectral, '思源宋体';
    font-size: 12pt;
    /* line-height: 0%; */
    margin-top: 1em;
    margin-bottom: 0;
}