:root {
    --lvse: #006837
}

/* 背景 */
.bj {
    fill: #fff;
}

/* 顶部 */
.biaotibj {
    fill: var(--lvse);
}
.biaoti {
    text-anchor: middle;
    font-size: 24px;
    font-family: '思源宋体 CN';
    font-weight: 900;
    fill: #fff;
}
.biaotilat {
    text-anchor: middle;
    font-size: 11px;
    font-family: 'Zilla Slab';
    font-weight: 600;
    letter-spacing: 0.01em;
    fill: #fff;
}

/* 路号 */
.luhaobj {
    fill: #c1272d;
}
.luhao {
    text-anchor: middle;
    font-family: Bahnschrift;
    font-size: 16pt;
    fill: #fff;
}

/* 车站 */
.chezhan {
    font-size: 16px;
    font-family: 未来荧黑;
    font-weight: 700;
    font-stretch: 50%;
}
.zhushi {
    writing-mode: tb;
    text-orientation: upright;
    glyph-orientation-vertical: 0deg;
    font-size: 9px;
    font-family: 未来荧黑;
    font-weight: 400;
    font-stretch: expanded;
}

/* 底部 */
.fangxianglat,
.fangxiang,
.tishi {
    font-family: Bahnschrift, MiSans;
    font-weight: 500;
    fill: #fff
}
.fangxiang {
    font-size: 18px;
}
.fangxianglat {
    font-size: 9pt;
    fill: var(--lvse);
    font-weight: 700;
    font-stretch: semi-condensed;
}
.tishi {
    font-size: 12px;
}