@import url(../Seniva/stylesheet.css);

html {
    font-family: 'Gentium Plus';
    color: #333f50
}

.ci {
    font-family: unifik;
    writing-mode: vertical-lr;
    text-orientation: sideways;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

thead {
    background-color: #6f837a;
    color: #fff;
}

th,td {
    text-align: center;
    padding: 0.5em;
}